{% extends 'base.html' %}
{% block title %}Log in{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}login.css" />
{% endblock %}
{% block content %}


        <div id="wrap">
			<div id="login">
		    	<h1><strong>Welcome.</strong> Please login.</h1>

				<form action="" class="form-signin" method="post">{% csrf_token %}
					<fieldset>
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                                {{ form.non_field_errors|striptags }}
                            </div>
                        {% endif %}
                        {% if not form.username.errors %}
                            <p><input type="text" name="username" id="username" placeholder="username"></p>
                        {% else %}
                            <div class="form-group has-error">
                            {% for error in form.username.errors %}
                                <p><label class="control-label">{{ error }}</label></p>
                            {% endfor %}
                                <p><input type="text" name="username" id="username" placeholder="username"></p>
                            </div>
                        {% endif %}

                        {% if not form.password.errors %}
                            <p><input type="password" name="password" id="password"  placeholder="password"></p>
                        {% else %}
                            <div class="form-group has-error">
                                {% for error in form.password.errors %}
                                    <label class="control-label">{{ error }}</label>
                                {% endfor %}
                                <p><input type="password" name="password" id="password"  placeholder="password"></p>
                            </div>
                        {% endif %}
						<p></p>
						<p><input type="submit" value="Login"></p>
						<p><a href="../signup" class="signup-link">Create new account</a><a href="../forgetpassword" class="forgetpassword">Forgot Password</a></p>
					</fieldset>
				</form>				<!--form-->
			</div>
			<!-- end login -->
		</div>
		<!-- /wrap -->
{% endblock %}