{% extends 'base.html' %}
{% block title %}Log in{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}login.css" />
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

        <div id="wrap">
			<div id="login">
		    	<h1><strong>Welcome.</strong> Please login.</h1>
				{% crispy form %}
			</div>
			<!-- end login -->
		</div>
		<!-- /wrap -->
{% endblock %}