@charset "utf-8";
/* CSS Document */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ----------------------------------*/




/* ---------- GENERAL ---------- */

body {
	background-color: #e4e4e4;
	color: #5a5656;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
}

a { text-decoration: none; }

h1 { font-size: 1.4em;}

h1, p {
	margin-bottom: 10px;
}

strong {
	font-weight: bold;
}

.uppercase { text-transform: uppercase;}

/* ---------- LOGIN ---------- */

#login {
	margin: 50px auto;
	width: 300px;
	text-align: center;
	padding-top: 5%;
}

#login h1 {
	margin-bottom: 20px;
}

#login p {
	min-width: 320px;
}

#login .forgetpassword {
	font-size: 13px;
	float: right;
	margin-bottom: 5px;
}

#login .signup-link {
	font-size: 13px;
	float: left;
	margin-bottom: 5px;
}


form fieldset input[type="text"], input[type="password"] {
	background-color: #fff; /*e5e5e5;*/
	border: 1px solid #ccc;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #5a5656;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 14px;
	height: 50px;
	outline: none;
	padding: 0px 10px;
	width: 322px;
	-webkit-appearance:none;
}

form fieldset input[type="submit"] {
	background-color: #74bade;
	border: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #f4f4f4;
	cursor: pointer;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	height: 50px;
	text-transform: uppercase;
	width: 320px;
	-webkit-appearance:none;
	font-weight: bold;
}

form fieldset input[type="text"]:focus, input[type="password"]:focus{
	box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}

form fieldset input[type="submit"]:hover {
	background-color: #64abcf;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}

form fieldset a {
	color: #5a5656;
	font-size: 10px;
}

form fieldset a:hover { text-decoration: underline; }

.btn-round {
	background-color: #5a5656;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	color: #f4f4f4;
	display: block;
	font-size: 12px;
	height: 50px;
	line-height: 50px;
	margin: 30px 125px;
	text-align: center;
	text-transform: uppercase;
	width: 50px;
}


/* Error Message styles */
.errorMsg {
    position:absolute;
    top:0;
    left: 0;
    width:100%;
    height:45px;
    color:#FFFFFF;
    text-shadow: 1px 0px 0px #ffffff;
    font-size: 13px;
     line-height:45px;
    text-align:center;
    background-color: #e25440;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
	letter-spacing: 1px;
}
.errorMsg a {
    float:right;
    display:block;
    padding:0px 20px 10px 10px;
    color: #FFFFFF;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight:normal;
    text-decoration:none;
}
.errorMsg a:hover {
    color:#FFFFFF;
}